.container {
  width: 640px;
  height: 480px;
  /* background-image: url('/src/assets/image/speedway.png'); */
}

.container.shim::after {
  contain: '';
  display: block; 
  position: absolute; 
  top: 0%; left: 0%; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.7); 
  z-index:1000; 
}

.title {
  text-align: center;
}

.logon-form {
  margin-left: 145px;
  width: 320px;
  height: 250px;
  padding: 30px;
  border: 1px solid rgb(202, 202, 222);
  border-radius: 10px;
}
.btn-container {
  margin: 20px;
  text-align: center;
}
.btn-container .btn {
  width: 80px;
}
.btn-container .btn-success {
  margin-right: 80px;
}

.btn-primary{
  width: 200px;
  margin-left: 30px;
}

.setting-div {
  position: absolute;
  height: 140px;
  width: 350px;
  left: 50%;
  top: 50%;
  margin: -210px 0 0 -171px;
  padding: 30px 40px;
  background: #ebf5f5;
  border-radius: 10px;
  z-index: 1001;
}
.setting-div .glyphicon-remove{
  position: absolute;
  margin-left: 275px;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
}
.setting-option {
  margin-top: 10px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}